.sidebar {
  height: 100vh;
  color: white;
  background-color: #31373c;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menu-name {
  cursor: pointer;
  background-color: #3a3a3a;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

/* Correct the selector below */
.menu-name.active{
  background-color: #007bff;
}

.sub-menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 10px;
}

.menu-item {
  cursor: pointer;
  background-color: #3a3a3a;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.menu-item:hover {
  background-color: #007bff;
}
.menu-container.active-menu {
  background-color: #007bff; 
}

.child-menu.active-child-menu {
  background-color: #007bff; 
}
.centered-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9); /* White background with some transparency */
  outline: none;
}

.modal-content {
  background: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  min-width: 400px;
}